---
import './primary-nav.css';
---

<button
	type="button"
	class="nav-toggle"
	aria-expanded="false"
	aria-controls="primary-nav"
>
	<span class="sr-only" data-i18n="nav.menu">Menu</span>
	<span class="nav-toggle-icon" aria-hidden="true">
		<span class="nav-toggle-bar"></span>
		<span class="nav-toggle-bar"></span>
		<span class="nav-toggle-bar"></span>
	</span>
</button>
<nav id="primary-nav" aria-label="Primary" class="primary-nav" data-i18n-aria-label="nav.primaryAria">
	<ul class="primary-nav-list">
		<li><a href="/" data-i18n="nav.home">Home</a></li>
		<li><a href="/#who-i-am" data-i18n="nav.whoIAm">Who I Am</a></li>
		<li><a href="/#projects" data-i18n="nav.projects">Projects</a></li>
		<li><a href="/#blog" data-i18n="nav.blog">Blog</a></li>
		<li><a href="/#contact" data-i18n="nav.contact">Contact</a></li>
	</ul>
</nav>
